<div class="persons-container">
    <div class="input-container">
        <input [(ngModel)]="search" (input)="filter()" type="text" placeholder="Search">
    </div>
    <mat-card class="custom-scrollbar">
        <table>
            <tr>
                <th>Character</th>
                <th>Associated house</th>
            </tr>
            <tr (click)="openDialog(i)" *ngFor="let person of filteredPersons, index as i">
                <td>{{filteredPersons[i].name}}</td>
                <td>{{filteredPersons[i].house && filteredPersons[i].house.name ? filteredPersons[i].house.name : 'None'}}</td>
            </tr>
        </table>
    </mat-card>
</div>
