<div class="houses-container">
    <div class="input-container">
        <input [(ngModel)]="search" (input)="filter()" type="text" placeholder="Search">
    </div>
    <mat-card>
        <table>
            <tr>
                <th>Name of the house</th>
                <th>Amount of members</th>
            </tr>
            <tr (click)="openDialog(i)" *ngFor="let house of filteredHouses, index as i">
                <td>{{filteredHouses[i].name}}</td>
                <td>{{filteredHouses[i].members.length}}</td>
            </tr>
        </table>
    </mat-card>
</div>