<mat-card class="quotes-container">
    <mat-card-title>
        Random Quotes:
    </mat-card-title>
    <mat-card-content>
        <div class="quote" *ngFor="let quote of fiveRandomQuotes[0], index as i">
            <div (click)="openDialog(i)" class="character">{{fiveRandomQuotes[0][i].character.name}}:</div>
            <div class="character-quote">{{fiveRandomQuotes[0][i].sentence}}</div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="getFiveRandomQuotes()" mat-fab>
            <mat-icon>shuffle</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>